<?xml version="1.0" encoding="UTF-8"?>
<configuration>

 <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
      <!-- %l lowers performance -->
      <!--<pattern>%d [%t] %-5p %l%n %m%n</pattern> -->
    <layout class="org.kie.test.util.logging.FilteredPatternLayout">
      <pattern>%d [%t|%C] %-5p %m%n</pattern>
      <param name="ConversionPattern" value="%-5p  %c %F(%M:%L) %d{dd.MM.yyyy HH:mm:ss}  %m%n" />
      <param name="Filter" value="sun.reflect" />
      <param name="Filter" value="org.junit" />
      <param name="Filter" value="org.eclipse.jdt.internal" />
    </layout>
  </appender>

  <root level="info">
    <appender-ref ref="consoleAppender" />
  </root>

</configuration>
