package org.kie.pmml.models.mining.model.segmentation;

import java.util.ArrayList;
import java.util.Arrays;
import java.util.Collections;
import java.util.List;
import java.util.Map;
import java.util.stream.Collectors;
import java.util.stream.Stream;

import org.kie.pmml.models.mining.model.segmentation.KiePMMLSegmentation;

public class KiePMMLSegmentationTemplate extends KiePMMLSegmentation {

    public KiePMMLSegmentationTemplate() {
          super(name, Collections.emptyList(), multipleModelMethod);
          segments = new ArrayList<>();
    }

}
