package org.kie.pmml.models.mining.model.segmentation;

import java.util.Arrays;
import java.util.Collections;

import org.kie.pmml.commons.model.predicates.KiePMMLCompoundPredicate;
import org.kie.pmml.commons.model.predicates.KiePMMLFalsePredicate;
import org.kie.pmml.commons.model.predicates.KiePMMLPredicate;
import org.kie.pmml.commons.model.predicates.KiePMMLSimplePredicate;
import org.kie.pmml.commons.model.predicates.KiePMMLSimpleSetPredicate;
import org.kie.pmml.commons.model.predicates.KiePMMLTruePredicate;

import org.kie.pmml.models.mining.model.segmentation.KiePMMLSegment;

public class KiePMMLSegmentTemplate extends KiePMMLSegment {

    public KiePMMLSegmentTemplate() {
        super(name, Collections.emptyList(), getPredicate(), model);
        weight = 1;
        id = null;
    }

    private static KiePMMLPredicate getPredicate() {
        return null;
    }

}
