package org.kie.pmml.models.mining.model.segmentation;

import java.util.Collections;

import org.kie.pmml.models.mining.model.segmentation.KiePMMLSegment;

public class KiePMMLSegmentTemplate extends KiePMMLSegment {

    public KiePMMLSegmentTemplate() {
        super(name, Collections.emptyList(), kiePMMLPredicate, model);
        weight = 1;
        id = null;
    }

}
