/target
/local

# Eclipse, Netbeans and IntelliJ files
/.*
!.gitignore
/nbproject
/*.ipr
/*.iws
/*.iml

# Directories
eclipse/
jboss-*/
wildfly-*/
repositories/ 
runtime/
workspace/
data/

# Files
repository.xml
derby.log
transaction.log
