.counterfactual__outcomes-alert {
  margin-bottom: var(--pf-global--spacer--sm);
}

.counterfactual__outcomes-grid {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: var(--pf-global--spacer--lg);

  border-top: 1px solid var(--pf-global--palette--black-300);
  border-bottom: 1px solid var(--pf-global--palette--black-300);

  &__row {
    padding-bottom: var(--pf-global--spacer--md);
  }

}

.counterfactual__outcomes-form {

  &__original {
    background-color: var(--pf-global--palette--black-200);
    padding-left: var(--pf-c-modal-box__body--PaddingLeft);
  }

  &__desired {
    padding-left: var(--pf-global--spacer--lg);
  }
}

