<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- %l lowers performance -->
      <!--<pattern>%d [%t] %-5p %l%n  %m%n</pattern>-->
      <pattern>%d [%t] %-5p %m%n</pattern>
    </encoder>
  </appender>

  <logger name="org.jbpm" level="info"/>
  <logger name="com.arjuna" level="error"/>
  <logger name="org.apache.cxf" level="error"/>
  <logger name="org.hibernate" level="warn"/>

  <logger name="org.hibernate.tool.schema.internal.ExceptionHandlerLoggedImpl" level="error" />
  <root level="info">
    <appender-ref ref="consoleAppender" />
  </root>

</configuration>