.feature-chart-axis-label tspan {
  fill: #8a8d90 !important;
}
.feature-chart-score-label {
  animation: fadeIn 0.1s ease-out 1s 1 forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(0.3em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
