package org.kie.pmml.compilation.commons;

import java.util.Collections;

import org.kie.pmml.api.enums.CLOSURE;

public class KiePMMLDiscretizeBinTemplate {


    private KiePMMLDiscretizeBin getKiePMMLDiscretizeBin() {
        KiePMMLDiscretizeBin discretizeBin = new KiePMMLDiscretizeBin(name, Collections.emptyList(), binValue, interval);
    }

}
