package org.kie.pmml.compilation.commons;

import java.util.Collections;


public class KiePMMLTextIndexTemplate {


    private KiePMMLTextIndex getKiePMMLTextIndex() {
        KiePMMLTextIndex textIndex = KiePMMLTextIndex.builder("name", Collections.emptyList(), expression)
                                                     .withLocalTermWeights(localTermWeights)
                                                     .withIsCaseSensitive(isCaseSensitive)
                                                     .withMaxLevenshteinDistance(maxLevenshteinDistance)
                                                     .withCountHits(countHits)
                                                     .withWordSeparatorCharacterRE("wordSeparatorCharacterRE")
                                                     .withTokenize(tokenize)
                                                     .withTextIndexNormalizations(Arrays.asList(textIndexNormalization1, textIndexNormalization2))
                                                     .build();
    }

}
