package org.kie.pmml.compilation.commons;

import java.util.Collections;

import org.kie.pmml.commons.model.KiePMMLTarget;

public class KiePMMLTargetTemplate {


    private KiePMMLTarget getKiePMMLTarget() {
        KiePMMLTarget target = KiePMMLTarget.builder(name, Collections.emptyList(), targetField)
                .build();
    }

}
