package org.kie.pmml.compilation.commons;

import java.util.Collections;

import org.kie.pmml.api.models.TargetField;
import org.kie.pmml.api.models.TargetValue;

public class TargetFieldTemplate {


    private TargetField getTargetField() {
        TargetField targetField = new TargetField(Arrays.asList(targetValue1, targetValue2), opType, field, castInteger, min, max, rescaleConstant, rescaleFactor);
    }

}
