.kogito-management-console--jobsManagement__table .pf-c-table__sort .pf-c-table__button {
    text-align: center;
    display: inline-block;
    margin-left: 0;
}

.kogito-management-console--jobsManagement__table td:not(:first-of-type) {
    min-width: 10em;
}

.kogito-management-console--jobsManagement__table .pf-c-table__action {
    text-align: right;
}