node_modules/
dist/
node/
coverage/
target/
out/
.idea
**/.DS_Store
*.log*
**/yarn.lock
**/stats.json
**/junit.xml
package-lock.json

# Eclipse, Netbeans and IntelliJ files
/.*
!.github
!.gitignore
/nbproject
/*.ipr
/*.iws
**/*.iml
.classpath
.project
.settings

# Cypress - runtime artifacts and undesired dirs
**/cypress/screenshots
**/cypress/videos
/packages/cypress*
/cypress*

