# Default to linux endings
* text eol=lf

# OS specific files
###################

*.sh eol=lf
*.bat eol=crlf

# Binary files
##############

# Image files
*.png binary
*.jpg binary
*.gif binary
*.bmp binary
*.ico binary

# Audio files
*.wav binary
*.mp3 binary
*.ogg binary

# Other binary files
*.pdf binary
*.xls binary
*.xlsx binary

# GitHub syntax highlighting
############################

# To prevent GitHub to presume those optaplanner-examples/data files are Objective-C++ code.
*.mm linguist-language=Text
