@use "sass:math";

.input-browser {
  &__section-list {
    margin: 0 0 var(--pf-global--spacer--lg) 0;
    padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--md);
    background-color: var(--pf-global--BackgroundColor--100);
    button {
      margin: 6px 12px 6px 0;
    }
    &__label {
      display: block;
      width: max-content;
      margin: 6px 10px 6px 10px;
      font-weight: 700;
      padding-top: var(--pf-global--spacer--form-element);
      padding-bottom: var(--pf-global--spacer--form-element);
    }
  }
  &__browser {
    background-color: #c6c6c6;
  }
  &__distribution {
    .input-data__wrap {
      padding-top: var(--pf-c-data-list__cell-cell--PaddingTop);
      &__desc {
        bottom: 10px;
      }
    }
    &__chart {
      // the only way I found to use the negative value of a css variable was to multiply it
      margin-top: calc(var(--pf-c-data-list__cell-cell--PaddingTop) * -1);
    }
  }
}

.input-list {
  &__headings {
    font-weight: bold;
  }
  &__has-chart {
    .pf-c-data-list__item-content {
      padding-bottom: 0;
    }
  }
  &__chart {
    --pf-c-data-list__cell-cell--PaddingTop: 0;
  }
}

.js-show-affecting-only .input-data--ignored {
  max-height: 0;
  overflow: hidden;
}
.input-data {
  &__item {
    transition: all 0.33s ease-out;
    //max-height: 4.5em;
    &:hover {
      background-color: #f5f5f5;
    }
  }
  &__affecting-switch {
    margin-bottom: var(--pf-global--spacer--lg);
  }
  &__wrap {
    position: relative;
    &__desc {
      display: block;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 12px;
    }
  }
  &__icons {
    width: 30px;
    font-size: 1.25em;
    &__effect {
      color: var(--pf-global--info-color--100);
    }
    &__no-effect {
      color: lighten(#72767b, 40%);
    }
    &--hidden {
      visibility: hidden;
    }
  }
  &__score {
    font-weight: bold;
    color: var(--pf-global--info-color--100);
  }
}
.category {
  &--sticky {
    z-index: 1000;
  }
  &__heading {
    background-color: var(--pf-global--info-color--100) !important;
    color: #fff;
    font-weight: bold;
    .pf-c-data-list__item-content {
      padding-bottom: 12px;
    }
    .pf-c-data-list__cell {
      padding-top: 12px;
    }
  }
  &__sublist {
    border: none !important;
    &:first-child {
      margin-top: 10px;
    }
    &__item {
      padding: 4px;
      margin: 10px -4px 10px -4px;
      background-color: lighten(#73bcf7, 20%);
      &.pf-c-data-list {
        --pf-c-data-list--BorderTopWidth: 0;
      }
      .input-data__item:last-child {
        border-bottom: none;
      }
    }
  }
}

.data {
  &__label {
    font-size: math.div(15, 16) + rem;
    display: block;
    color: var(--pf-global--Color--200);
  }
}
