<?xml version="1.0" encoding="UTF-8"?>
<!--
  In an IDE build, this file may conflict on the classpath with logback-test.xml from optaplanner-core-impl test-jar.
  In a direct Maven build, we exclude these files from our JARs, and therefore this will not be an issue.
-->
<configuration>

  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- %L lowers performance, %C and %c break indentation and therefore reduce readability, normal %t is verbose -->
      <pattern>%d{HH:mm:ss.SSS} [%-12.12t] %-5p %m%n</pattern>
    </encoder>
  </appender>

  <!-- To override the info log level from the command line, use the VM option "-Dlogback.level.org.optaplanner=trace" -->
  <logger name="org.optaplanner" level="${logback.level.org.optaplanner:-info}"/>

  <root level="warn">
    <appender-ref ref="consoleAppender" />
  </root>

</configuration>

