@use "../../../utils/variables";
@use "sass:map";

.skeleton-cards {
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  @media (min-width: map.get(variables.$breakpoints, sm)) {
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: map.get(variables.$breakpoints, lg)) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: map.get(variables.$breakpoints, xl4)) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &__card {
    background: #fbfbfb;
    padding: 1.5rem;
    min-height: 180px;
    @media (min-width: map.get(variables.$breakpoints, sm)) {
      height: 100%;
      min-height: 280px;
    }
  }
}
