/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.kogito-jobs-management__state-dropdown-list
  .pf-c-data-toolbar__item:first-child
  .pf-c-chip__text::first-letter {
  text-transform: uppercase;
}
.kogito-jobs-management__state-dropdown-list
  .pf-c-data-toolbar__item:first-child
  .pf-c-chip__text {
  text-transform: lowercase;
}

.kogito-jobs-management__state-dropdown-list .pf-c-check__label::first-letter {
  text-transform: uppercase;
}

.kogito-jobs-management__state-dropdown-list .pf-c-check__label {
  text-transform: lowercase;
}

.kogito-jobs-management__table .pf-c-table__sort .pf-c-table__button {
  text-align: center;
  display: inline-block;
  margin-left: 0;
}

.pf-c-chip-group .pf-c-chip__text {
  font-weight: 400 !important;
}

.kogito-jobs-management__table td:not(:first-of-type) {
  min-width: 10em;
}

.kogito-jobs-management__table .pf-c-table__action {
  text-align: right;
}

.kogito-jobs-management__emptyState {
  margin-top: 100px;
}
