.kogito-management-console--details__title small {
    --pf-c-content--small--Color: var(--pf-global--Color--100);
}
.kogito-management-console--details__buttonMargin {
    margin-right: var(--pf-global--spacer--md)
}
.kogito-management-console--details__marginSpaces {
    margin-top: 20px; 
}
.kogito-management-console--NodeTrigger-cardHeight {
    height: 494px;
}

