.pf-c-card.processdetailstimetine-timelinestyle {
    margin-left: 2em;
    height: 40em;
    position: relative;
    bottom: 3em;
    overflow-y: scroll;
    margin-top: 3em
}

.processdetailstimetine-iconstyle {
    position: relative;
    top: 3px;
    left: 3px;
}