import java.util.Collections;

import org.kie.pmml.models.mining.model.KiePMMLMiningModel;
import org.kie.pmml.commons.model.KiePMMLOutputField;


public class Template extends KiePMMLMiningModel {

    public Template() {
        super(name, Collections.emptyList());
        targetField = null;
        miningFunction = null;
        pmmlMODEL = null;
        segmentation = null;
    }

     @Override
     public String getKModulePackageName() {
        return null;
     }

}