public class Template {


    public Template() {
        super(name, Collections.emptyList());
        targetField = targetField;
        miningFunction = miningFunction;
        pmmlMODEL = null;
        segmentation = null;
    }

     @Override
     public String getKModulePackageName() {
        return null;
     }

}