<!-- canvas not supported for HTML4 -->
#set ($widthParam = ${language.getParam("width", $item.width)})
#set ($heightParam = ${language.getParam("height", $item.height)})
#set ($classParam = ${language.getParam("class", $item.cssClassName)})
#set ($idParam = ${language.getParam("id", $item.id)})
#set ($dataType = $item.dataType)
#if (!($dataType and $dataType == "")
  #set ($dataType = "image/svg+xml")
#end
#set ($typeParam = ${language.getParam("type", $dataType)})
#set ($dataParam = ${language.getParam("data", $item.fallbackUrl)})

<object #if($dataParam)$dataParam#end#if($typeParam)$typeParam#end#if($idParam)$idParam#end#if($classParam)$classParam#end#if($widthParam)$widthParam#end#if($heightParam)$heightParam#end></object>
