#set ($widthParam = ${language.getStyleParam("width", $item.width)})
#set ($heightParam = ${language.getStyleParam("height", $item.height)})
#set ($otherParams = ${language.getStyleParam("border", "1")})
#set ($classParam = ${language.getParam("class", $item.cssClassName)})
#set ($idParam = ${language.getParam("id", $item.id)})

#set ($oneventxParam = ${language.getOnEventParams($item)})
<div style="border:2px groove ThreeDFace; margin:.5em 0; padding:0 .5em;#if($widthParam)$widthParam#end #if($heightParam)$heightParam#end" 
  #if($oneventxParam)$oneventxParam#end#if($classParam)$classParam#end#if($idParam)$idParam#end>
  <h1 style="font-size:100%; font-weight:normal; margin:-.5em 0 0; background:white; color:black; float:left; padding:0 2px;">${item.legend}</h1>
   #foreach ($subItem in $item.items)
      ${language.translateItem($subItem)}
   #end
</div>
 