#set ($classContent = "$item.type $item.cssClassName")
#set ($classParam = ${language.getParam("class", $classContent)})
#set ($widthParam = ${language.getParam("width", $item.width)})
#set ($heightParam = ${language.getParam("height", $item.height)})
#set ($idParam = ${language.getStyleParam("id", $item.id)})
#set ($dirParam = ${language.getParam("dir", $item.dir)})

#set ($oneventxParam = ${language.getOnEventParams($item)})
<table cellpadding="0" cellspacing="0" border="0" #if($oneventxParam)$oneventxParam#end#if($dirParam)$dirParam#end#if($idParam)$idParam#end#if($classParam)$classParam#end#if($widthParam)$widthParam#end#if($heightParam)$heightParam#end>
  <tr>
    #foreach ($subItem in $item.items)
      <td>${language.translateItem($subItem)}</td>
    #end
  </tr>
</table>
