#set ($borderParam = ${language.getParam("border", $item.borderWidth)})
#set ($titleParam = ${language.getParam("title", $item.title)})
#set ($cellpaddingParam = ${language.getParam("cellpadding", $item.cellPadding)})
#set ($cellspacingParam = ${language.getParam("cellspacing", $item.cellSpacing)})
#set ($oneventxParam = ${language.getOnEventParams($item)})
## TODO table.getInput(); may be used to iterate contents, but not yet
## TODO table.getItemValidations();
<table #if($oneventxParam)$oneventxParam#end#if($borderParam)$borderParam#end#if($titleParam)$titleParam#end#if($cellpaddingParam)$cellpaddingParam#end#if($cellspacingParam)$cellspacingParam#end>
  #set ($rowNumber = 0)
  #foreach ($row in $item.elements)
    #set ($cellNumber = 0)
    <tr>
      #foreach($cell in $row)
        #if ($cell)
          #set($colspan = ${item.getColspan($rowNumber, $cellNumber)})
          #set($rowspan = ${item.getRowspan($rowNumber, $cellNumber)})
          #set($colParam = ${language.getParam("colspan", $colspan)})
          #set($rowParam = ${language.getParam("rowspan", $colspan)})
          <td #if($colParam)$colParam#end#if($rowParam)$rowParam#end>${language.translateItem($cell)}</td>
        #end
        #set ($cellNumber = $cellNumber + 1)
      #end
    </tr>
    #set ($rowNumber = $rowNumber + 1)
  #end
</table>
