#set ($borderParam = ${language.getParam("border", $item.borderWidth)})
#set ($cellpaddingParam = ${language.getParam("cellpadding", $item.cellPadding)})
#set ($cellspacingParam = ${language.getParam("cellspacing", $item.cellSpacing)})
#set ($oneventxParam = ${language.getOnEventParams($item)})
## TODO table.getInput(); may be used to iterate contents, but not yet
## TODO table.getItemValidations();
<table #if($oneventxParam)$oneventxParam#end#if($borderParam)$borderParam#end#if($cellpaddingParam)$cellpaddingParam#end#if($cellspacingParam)$cellspacingParam#end>
  #foreach ($row in $item.elements)
    <tr>
      #foreach($cell in $row)
        #if ($cell)
        <td>${language.translateItem($cell)}</td>
        #end
      #end
    </tr>
  #end
</table>
