package org.kie.pmml.models.regression.evaluator;

import java.util.LinkedHashMap;
import java.util.Map;
import java.util.concurrent.atomic.AtomicReference;
import java.util.function.DoubleUnaryOperator;
import java.util.stream.Collectors;
import java.util.stream.IntStream;

import org.kie.pmml.api.enums.OP_TYPE;
import org.kie.pmml.models.regression.model.enums.REGRESSION_NORMALIZATION_METHOD;

import org.kie.pmml.models.regression.model.KiePMMLRegressionClassificationTable;

public class KiePMMLRegressionTableClassificationTemplate extends KiePMMLRegressionClassificationTable {

    public KiePMMLRegressionTableClassificationTemplate() {
        targetField = "fld4";
        regressionNormalizationMethod = null;
        opType = null;
   }

    @Override
    public Object getTargetCategory() {

    }

    @Override
    public boolean isBinary() {

    }

     @Override
     protected void populateOutputFieldsMapWithProbability(final Map.Entry<String, Double> predictedEntry, final LinkedHashMap<String, Double> probabilityMap) {

     }

}
