package org.kie.pmml.models.regression.evaluator;

import java.util.Arrays;
import java.util.List;
import java.util.Map;
import java.util.Objects;
import java.util.concurrent.atomic.AtomicReference;

import org.kie.pmml.models.regression.model.KiePMMLRegressionTable;

public class KiePMMLRegressionTableRegressionTemplate extends KiePMMLRegressionTable {

    public KiePMMLRegressionTableRegressionTemplate() {
        intercept = 0.1;
        targetField = "fld4";
    }

    @Override
    public Object getTargetCategory() {
//        return null;
    }

    @Override
    protected void updateResult(final AtomicReference<Double> toUpdate) {
            // NONE
    }

}
