package org.kie.pmml.models.regression.runtime;

import java.util.Collections;

import org.kie.pmml.api.enums.OP_TYPE;
import org.kie.pmml.models.regression.model.KiePMMLClassificationTable;
import org.kie.pmml.models.regression.model.enums.REGRESSION_NORMALIZATION_METHOD;

public class KiePMMLClassificationTableTemplate {

    public static KiePMMLClassificationTable getKiePMMLTable() {
        KiePMMLClassificationTable toReturn = KiePMMLClassificationTable.builder("", Collections.emptyList())
                                .withRegressionNormalizationMethod(regressionNormalizationMethod)
                                .withOpType(opType)
                                .withCategoryTableMap(categoryTableMap)
                                .withProbabilityMapFunction(probabilityMapFunction)
                                .withIsBinary(isBinary)
                                .withTargetField(targetField)
                                .withTargetCategory(targetCategory)
                                .build();
        return toReturn;
   }

}
