package org.kie.pmml.models.regression.runtime;

import java.util.Arrays;
import java.util.Collections;
import java.util.List;
import java.util.Map;
import java.util.concurrent.atomic.AtomicReference;

import org.kie.pmml.api.iinterfaces.SerializableFunction;
import org.kie.pmml.models.regression.model.KiePMMLRegressionTable;

public class KiePMMLRegressionTableTemplate {

    public static KiePMMLRegressionTable getKiePMMLTable() {
        KiePMMLRegressionTable toReturn = KiePMMLRegressionTable.builder("", Collections.emptyList())
                                        .withNumericFunctionMap(numericFunctionMap)
                                        .withCategoricalFunctionMap(categoricalFunctionMap)
                                        .withPredictorTermsFunctionMap(predictorTermsFunctionMap)
                                        .withResultUpdater(resultUpdater)
                                        .withIntercept(intercept)
                                        .withTargetField(targetField)
                                        .withTargetCategory(targetCategory)
                                        .build();
        return toReturn;
    }

}
