.execution-header {
  &__uuid {
    .execution-id {
      font-weight: 500;
    }
  }
  &__property {
    padding: 0 var(--pf-global--spacer--sm);
    margin-top: var(--pf-global--spacer--sm);
    .pf-c-title {
      font-weight: 400;
    }
  }
}
