#set ($idParam = ${language.getParam("id", $item.id)})
#set ($nameParam = ${language.getParam("name", $item.name)})
#set ($width = ${language.getStyleParam("width", $item.width)})
#set ($height = ${language.getStyleParam("height", $item.height)})
#set ($style = $width + $height)
#set ($styleParam = ${language.getParam("style", $style)})
#set ($checked = "")
#if ($item.checked) 
    #set ($checked = "true")
#end
#set ($checkedParam = ${language.getParam("checked", $checked)})
#set ($valueParam = ${language.getParam("value", $item.formValue)}) ##TODO getInput()

<xul:checkbox #if($idParam)$idParam#end
    #if($nameParam)$nameParam#end
    #if($styleParam)$styleParam#end
    #if($checkedParam)$checkedParam#end
    #if($valueParam)$valueParam#end    
    xmlns:xul="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"
/>
