#set ($idParam = ${language.getParam("id", $item.id)})
#set ($width = ${language.getStyleParam("width", $item.width)})
#set ($height = ${language.getStyleParam("height", $item.height)})
#set ($style = "$width$height")
#set ($styleParam = ${language.getParam("style", $style)})
#set ($name = $item.name)
#if (($name and $name != "") and $item.output and $item.output.name and $item.output.name != "")
    #set ($name = $item.ouptput.name)
#end
## TODO completeButton.getOnClickScript(); should be loaded first
#set ($nameParam = ${language.getParam("name", $name)})
#set ($valueParam = ${language.getParam("value", $item.text)})
#set ($valueParam = ${language.getParam("label", $item.text)})

<xul:button type="submit" #if($labelParam)$labelParam#end
    #if($idParam)$idParam#end
    #if($styleParam)$styleParam#end
    #if($nameParam)$nameParam#end
    xmlns:xul="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul">
    <xul:description 
        #if($valueParam)$valueParam#end
        xmlns:xul="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"
    />
</xul:button>
