#set ($idParam = ${language.getParam("id", $item.id})
#set ($nameParam = ${language.getParam("name", $item.name})
#set ($valueParam = ${language.getParam("value", $item.value})
## TODO getInput();

<xul:textbox hidden="true"
    #if($idParam)$idParam#end
    #if($nameParam)$nameParam#end
    #if($valueParam)$valueParam#end 
    xmlns:xul="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"
/>


