#set ($width = ${language.getStyleParam("width", $item.width)})
#set ($height = ${language.getStyleParam("height", $item.height)})
#set ($sytle = "$width$height")
#set ($styleParam = ${language.getParam("style", $style)})

<xul:box xmlns:xul="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul">
  <html:div xmlns:html="http://www.w3.org/1999/xhtml" #if($styleParam)$styleParam#end>
     ${language.toXulEscapedHtml($item.content)}
  </html:div>
</xul:box>
