#set ($altParam = ${language.getParam("alt", $item.altText)})
#set ($titleParam = ${language.getParam("title", $item.altText)})
#set ($idParam = ${language.getParam("id", $item.id)})
#set ($heightParam = ${language.getParam("height", $item.height)})
#set ($widthParam = ${language.getParam("width", $item.width)})
#set ($srcParam = ${language.getParam("src", $item.src)})
<xul:image #if($altParam)$altParam#end
    #if($titleParam)$titleParam#end
    #if($idParam)$idParam#end
    #if($heightParam)$heightParam#end
    #if($widthParam)$widthParam#end
    #if($srcParam)$srcParam#end 
    xmlns:xul="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"
/>
