<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %class{36}.%method:%line - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.kie" level="debug"/>
  <logger name="org.kie.dmn.core.compiler.execmodelbased" level="info"/> <!-- useful default when moving generic org.kie to <info -->
  <logger name="org.kie.dmn.feel.codegen" level="info"/> <!-- useful default when moving generic org.kie to <info -->

  <logger name="org.kie.dmn.typesafe.DMNTypeSafeTypeGenerator" level="info"/><!-- DEBUG this to inspect class generation in Strongly Typed DMN, with FQCN (including package statement) -->

  <logger name="org.drools.ancompiler" level="info"/>
  <logger name="org.kie.dmn.core.compiler.alphanetbased" level="info"/>

  <root level="info">
    <appender-ref ref="consoleAppender" />
  </root>

</configuration>
