<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %class{36}.%method:%line - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.kie" level="info"/>
  <logger name="org.drools" level="info"/>
  <logger name="org.jboss.weld" level="info"/>

  <root level="warn">
    <appender-ref ref="consoleAppender"/>
  </root>

</configuration>
