body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  font-size: smaller;
  margin: 20px 20px 20px 20px;
}

code {
  font-size: small;
}

a {
  color: darkblue;
}

a:visited {
  color: darkblue;
}

.gwt-BorderedPanel {
}

.gwt-Button {
}

.gwt-Canvas {
}

.gwt-CheckBox {
  font-size: smaller;
}

.gwt-DialogBox {
  sborder: 8px solid #C3D9FF;
  border: 2px outset;
  background-color: white;
}

.gwt-DialogBox .Caption {
  background-color: #C3D9FF;
  padding: 3px;
  margin: 2px;
  font-weight: bold;
  cursor: default;
}

.gwt-FileUpload {
}

.gwt-Frame {
}

.gwt-HorizontalSplitter .Bar {
  width: 8px;
  background-color: #C3D9FF;
}

.gwt-VerticalSplitter .Bar {
  height: 8px;
  background-color: #C3D9FF;
}

.gwt-HTML {
  font-size: smaller;
}

.gwt-Hyperlink {
}

.gwt-Image {
}

.gwt-Label {
  font-size: smaller;
}

.gwt-ListBox {
}

.gwt-MenuBar {
  background-color: #C3D9FF;
  border: 1px solid #87B3FF;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
  padding: 1px 4px 1px 4px;
  font-size: smaller;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background-color: #E8EEF7;
}

.gwt-PasswordTextBox {
}

.gwt-RadioButton {
  font-size: smaller;
}

.gwt-TabPanel {
}

.gwt-TabPanelBottom {
  border-left: 1px solid #87B3FF;
}

.gwt-TabBar {
  background-color: #C3D9FF;
  font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
  height: 100%;
  border-bottom: 1px solid #87B3FF;
  padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
  border-bottom: 1px solid #87B3FF;
  padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
  border-top: 1px solid #C3D9FF;
  border-bottom: 1px solid #87B3FF;
  padding: 2px;
  cursor: pointer;
  cursor: hand;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  font-weight: bold;
  background-color: #E8EEF7;
  border-top: 1px solid #87B3FF;
  border-left: 1px solid #87B3FF;
  border-right: 1px solid #87B3FF;
  border-bottom: 1px solid #E8EEF7;
  padding: 2px;
  cursor: default;
}

.gwt-TextArea {
}

.gwt-TextBox {
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
  font-size: smaller;
}

.gwt-Tree .gwt-TreeItem-selected {
  background-color: #C3D9FF;
}

.gwt-StackPanel {
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-color: #C3D9FF;
  cursor: pointer;
  cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

/* -------------------------------------------------------------------------- */
.ks-Sink {
  border: 8px solid #C3D9FF;
  background-color: #E8EEF7;
  width: 100%;
  height: 24em;
}

.ks-Info {
  background-color: #C3D9FF;
  padding: 10px 10px 2px 10px;
  font-size: smaller;
}

.ks-List {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: smaller;
}

.ks-List .ks-SinkItem {
  width: 100%;
  padding: 0.3em;
  padding-right: 16px;
  cursor: pointer;
  cursor: hand;
}

.ks-List .ks-SinkItem-selected {
  background-color: #C3D9FF;
}

.ks-images-Image {
  margin: 8px;
}

.ks-images-Button {
  margin: 8px;
  cursor: pointer;
  cursor: hand;
}

.ks-layouts {
  margin: 8px;
}

.ks-layouts-Label {
  background-color: #C3D9FF;
  font-weight: bold;
  margin-top: 1em;
  padding: 2px 0px 2px 0px;
  width: 100%;
}

.ks-layouts-Scroller {
  height: 128px;
  border: 2px solid #C3D9FF;
  padding: 8px;
  margin: 8px;
}

.ks-popups-Popup {
  background-color: white;
  border: 1px solid #87B3FF;
  padding: 4px;
}

.ks-RuleListHeader {
	background-image: url(images/gray_gradient.gif);
	background-repeat: repeat-x;
	font-weight: bold;
}

.rule-SelectedRow {
	background-image: url(images/blue_gradient.gif);
	background-repeat: repeat-x;
}


.infoProse {
  margin: 8px;
}


.rule-List {
	border: 1px solid #AAAAAA;
	background-color: white;
	font-size: 70%;
	cursor: pointer;
	cursor: hand;
}

