<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>OptaPlanner web examples</display-name>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>VrpShowScheduleServlet</servlet-name>
    <servlet-class>org.optaplanner.webexamples.vehiclerouting.VrpShowScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VrpShowScheduleServlet</servlet-name>
    <url-pattern>/vehiclerouting/showSchedule.png</url-pattern>
  </servlet-mapping>

</web-app>
