.small-item {
    padding:0.3rem;
}

.github-icon {
    height: 16px;
    width: 16px;
}

@media screen and (max-width: 1023px) {
    .github-icon {
        background: url('../img/gitHubLogo.png') no-repeat;
    }
}

@media screen and (min-width: 1024px) {
    .github-icon {
        background: url('../img/gitHubLogoLight.png') no-repeat;
    }
}
