.skeleton-tornado {
  opacity: 0.8;
  margin-top: 2rem;
  &__legend {
    text-align: center;
    height: 15%;
    .skeleton__stripe {
      width: 20%;
      height: 1.5rem;
    }
  }
  &__chart {
    position: relative;
    height: 80%;
    &:before {
      display: block;
      width: 2px;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      background-color: #eeeeee;
    }
    .skeleton__stripe {
      position: absolute;
      display: block;
      height: 1.5em;
      margin: 0;
    }
  }
}
