grant {
    permission java.security.AllPermission;
    
    // Only for test purposes
    permission java.lang.RuntimePermission "setSecurityManager";
 };