<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.kie" level="warn"/>
  <logger name="org.drools" level="warn"/>
  <logger name="org.drools.drlonyaml.cli" level="warn"/>
  <logger name="org.drools.drlonyaml.cli.Batch2Drl" level="info"/>
  <logger name="org.drools.drlonyaml.cli.Batch2Yaml" level="info"/>

  <root level="info">
    <appender-ref ref="consoleAppender" />
  </root>

</configuration>
