ecosystem:
  main_project: drools
  projects:
  - name: drools
    regexs:
    - drools.*
  - name: kie-jpmml-integration
    regexs:
    - kie-jpmml-integration.*
  - name: kie-benchmarks
    ignore_release: true
    regexs:
    - kie-benchmarks.*
git:
  branches:
  - name: main
    main_branch: true
    seed:
      branch: main
seed:
  config_file:
    git:
      repository: drools
      author:
        name: kiegroup
        credentials_id: kie-ci4
      branch: main
    path: .ci/jenkins/config/branch.yaml
  jenkinsfile: dsl/seed/jenkinsfiles/Jenkinsfile.seed.branch
jenkins:
  email_creds_id: DROOLS_CI_EMAIL_TO
