ecosystem:
  main_project: drools
  projects:
  - name: drools
    regexs:
    - drools.*
  - name: kie-benchmarks
    ignore_release: true
    regexs:
    - kie-benchmarks.*
git:
  branches:
  - name: main
    main_branch: true
    seed:
      branch: main
  - name: 8.35.x
    seed:
      branch: seed-drools-8.35.x
  - name: 8.36.x
    seed:
      branch: seed-drools-8.36.x
  - name: 8.36.x-prod
    seed:
      branch: seed-drools-8.36.x
  - name: 8.37.x
    seed:
      branch: seed-drools-8.37.x
  - name: 8.38.x
    seed:
      branch: seed-drools-8.38.x
seed:
  config_file:
    git:
      repository: drools
      author:
        name: kiegroup
        credentials_id: kie-ci4
      branch: main
    path: .ci/jenkins/config/branch.yaml
  jenkinsfile: dsl/seed/jenkinsfiles/Jenkinsfile.seed.branch
jenkins:
  email_creds_id: KOGITO_CI_EMAIL_TO
