.spinner-center {
  text-align: center;
  margin-top: 5%;
}

.error-text{
  text-align: center;
  margin-top: 5%;
}

.kogito-management-console-load-more{
  margin-bottom: 24px;
  text-align: center;
}