<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.drools.testing.plugin.editors.RtlFormEditor"
            contributorClass="org.drools.testing.plugin.editors.RTLEditorContributor"
            extensions="rtl"
            icon="icons/RTL_small.gif"
            id="org.drools.testing.plugin.editors.RtlFormEditor"
            name="RTL Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="RTL Wizards"
            id="org.drools.testing.plugin">
      </category>
      <wizard
            name="Create Rtl File"
            icon="icons/sample.gif"
            category="org.drools.testing.plugin"
            class="org.drools.testing.plugin.wizards.GenerateRtlWizard"
            id="org.drools.testing.plugin.wizards.RtlWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="drools-testing-plugin.ActionSet"
            label="Rtl Action Set"
            visible="true">
         <menu
               id="rtlMenu"
               label="RTL">
            <separator name="rtlGroup"/>
         </menu>
         <action
               class="org.drools.testing.plugin.action.RtlAction"
               icon="icons/RTL_small.gif"
               id="drools-testing-plugin.action2"
               label="Generate"
               menubarPath="rtlMenu/rtlGroup"
               style="push"/>
      </actionSet>
   </extension>

</plugin>
