<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<servlet>
		<servlet-name>shell</servlet-name>
		<servlet-class>com.google.gwt.dev.shell.GWTShellServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>shell</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
