.execution-status {
  white-space: nowrap;
  &__badge {
    margin-right: var(--pf-global--spacer--sm);
    &--success {
      color: var(--pf-global--success-color--100);
    }
    &--failure {
      color: var(--pf-global--danger-color--100);
    }
  }
}
