#set ($ifStart = "<#if")
#set ($ifEnd = "</#if>")
#set ($else = "<#else>")
$ifStart ${item.condition}>
#if ($condition.ifBlock)
    ${language.translateItem($condition.ifBlock)}
#end
#if ($condition.elseBlock)
$else
    ${language.translateItem($condition.elseBlock)}
#end
$ifEnd
