#set ($widthParam = ${language.getStyleParam("width", $item.width)})
#set ($heightParam = ${language.getStyleParam("height", $item.height)})
#set ($style = "$widthParam$heightParam")
#set ($styleParam = ${language.getParam("style", $style)})
#set ($classParam = ${language.getParam("class", $item.cssClassName)})
#set ($idParam = ${language.getParam("id", $item.id)})
#set ($oneventxParam = ${language.getOnEventParams($item)})
<fieldset #if($oneventxParam)$oneventxParam#end#if($styleParam)$styleParam#end#if($classParam)$classParam#end#if($idParam)$idParam#end>
  <legend>${item.legend}</legend>
   #foreach ($subItem in $item.items)
      ${language.translateItem($subItem)}
   #end
</fieldset>
 