#set ($width = ${language.getStyleParam("width", $item.width)})
#set ($height = ${language.getStyleParam("height", $item.height)})
#set ($sytle = "$width$height")
#set ($styleParam = ${language.getParam("style", $style)})
#set ($oneventxParam = ${language.getOnEventParams($item)})
<div #if($oneventxParam)$oneventxParam#end#if($styleParam)$styleParam#end>
    $item.content
</div>
