#set ($input_id = ${langauge.getParam("id", $item.id)})
#set ($input_maxlength = ${langauge.getParam("maxlength", $item.maxLength)})
#set ($oneventxParam = ${language.getOnEventParams($item)})
#set ($name = $item.name)
#if (!($name and $name != "") and $item.output)
    #set ($name = $item.output.name)
#end
#set ($input_name = ${language.getParam("name", $name)})
#set ($value = $item.defaultValue)
#if (!($value and $value != "") and $item.input and $item.input.name != "")
    #set ($value = $item.input.value)
#end
#set ($input_value = ${language.getParam("value", $value)})
## TODO textField.getItemValidations();
<input type="password" #if($oneventxParam)$oneventxParam#end#if($input_maxlength)$input_maxlength#end#if($input_id)$input_id#end#if($input_name)$input_name#end#if($input_value)$input_value#end/>
