#set ($rowsParam = ${language.getParam("rows", $item.rows)})
#set ($colsParam = ${language.getParam("cols", $item.cols)})
#set ($idParam = ${language.getParam("id", $item.id)})
#set ($oneventxParam = ${language.getOnEventParams($item)})
#set ($nameParam = ${language.getParam("name", $item.name)})
#if ($item.value)
    #set($inputValue = $item.value)
#end
#if($item.input)
  #if($item.input.name)
    #set($inputValue = ${language.asFtlVar($item.getInput().getName())})
  #end
#end
<textarea #if($oneventxParam)$oneventxParam#end#if($rowsParam)$rowsParam#end#if($colsParam)$colsParam#end#if($idParam)$idParam#end#if($nameParam)$nameParam#end >
    #if($inputValue)$inputValue#end
</textarea>
