.kogito-management-console--variables__label-fadeOut {
    opacity:0;
     width:0;
     height:0;
     transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.kogito-management-console--variables__label-fadeIn{
    opacity:1;
     transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}