grant { 
       permission java.util.PropertyPermission "*", "read";
       permission java.lang.RuntimePermission "accessDeclaredMembers";
       permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
};