/* JBoss Drools Analytics Style Sheet */
/* Website: http://labs.jboss.com/jbossrules/ */

*
{
	border: 0;
	margin: 0;
	padding: 0;
}


div
{
	padding:0px 0px 10px 20px;
}

table
{
	background-color: #d2d7db;
	text-align: left;
	border-spacing: 0px;
	border: 1px solid #aeb3b6;
	border-collapse: collapse;
}

table a, table, tbody, tfoot, tr, th, td
{
	font-family: georgia, "times new roman", serif;
	line-height: 1.5em;
	font-size: 13px;
	color: #55595c;
}

table caption
{
	border-top: 1px solid #aeb3b6;
	padding: .5em 0;
	font-size: 240%;
	font-style: italic;
	color: #d2d7db;
}

table th
{
	width: 200px;
}

tbody th
{
	color: #25c1e2;
	font-style: italic;
	background-color: #fff;
	border-bottom: 1px solid #aeb3b6;
}

td
{
	border: 1px dotted #fff;
	padding: 0 2px;
}

ul
{
	padding:0px 0px 0px 20px;
	width:600px;
}

li
{
}