.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.timeline-container::after {
  /* background-color: #e17b77; */
  content: '';
  position: absolute;
  left: calc(10% - 2px);
  width: 4px;
  height: 100%;
  border-left: dotted;
}

.timeline-item {
  display: flex;
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 30px;
  position: relative;
  margin: 10px 0;
  width: 90%;
}

.timeline-item-content {
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
    border-radius: 5px;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: left;
}

.timeline-item-content::after {
  content: ' ';
  background-color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: auto;
  left: -7.5px;
  top: calc(17% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  text-align: left;
  align-items: flex-start;
}

.timeline-item-content .tag {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  top: 5px;
  left: 5px;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 5px;
}

.timeline-item-content time {
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

.timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
}

.timeline-item-content a {
  font-size: 14px;
  font-weight: bold;
}

.timeline-item-content a::after {
  content: ' ►';
  font-size: 12px;
}

.timeline-item-content .circle {
  background-color: #fff;
  border: 3px solid #39a5dc;
  border-radius: 50%;
  position: absolute;
  top: calc(15% - 10px);
  left: -46px;
  right: auto;
  width: 30px;
  height: 30px;
  z-index: 100;
}
