import java.util.Collections;

import org.kie.pmml.commons.testingutility.KiePMMLTestingModel;

public class KiePMMLTestModelTemplate extends KiePMMLTestingModel {


    public KiePMMLTestModelTemplate() {
        super(name, Collections.emptyList());
        pmmlMODEL = null;
    }

}