public class Template {


    public Template() {
        super(modelName, Collections.emptyList(), operator);
        targetField = targetField;
        miningFunction = miningFunction;
        pmmlMODEL = null;
        value = null;
    }

}