public class ExpressionFunctionUtilsTemplate {



     Object applyKiePMMLNameValueList(List<KiePMMLNameValue> param1)  {
        Object variableVARIABLE_NAMEConstant1 = 34.6;
        Optional<KiePMMLNameValue> kiePMMLNameValue = param1.stream().filter((KiePMMLNameValue lmbdParam) -> Objects.equals("FIELD_NAME", lmbdParam.getName())).findFirst();
        Object variableVARIABLE_NAMEFieldRef2 = kiePMMLNameValue.map(KiePMMLNameValue::getValue).orElse(null);
        Object VARIABLE_NAME = this.FUNCTION_NAME(variableVARIABLE_NAMEConstant1, variableVARIABLE_NAMEFieldRef2);
        return null;
     }

   java.lang.Object expressionMethod() {
       return null;
   }

      void fieldRefExpressionMethod() {
            String fieldRefName = null;
           Object variableName = fieldRefName != null ? fieldRefName : fieldRefMissingvalue;
      }

}
