package org.kie.pmml.compiler.commons;

import java.util.Collections;

import org.kie.pmml.commons.model.predicates.KiePMMLTruePredicate;

public class KiePMMLTruePredicateTemplate {


    private KiePMMLTruePredicate getKiePMMLTruePredicate() {
        KiePMMLTruePredicate truePredicate = new KiePMMLTruePredicate(name, Collections.emptyList());
    }

}
