package org.kie.pmml.compilation.commons;

import java.util.Collections;


public class KiePMMLInlineTableTemplate {


    private KiePMMLInlineTable getKiePMMLInlineTable() {
        KiePMMLInlineTable inlineTable = new KiePMMLInlineTable(name, Collections.emptyList(), Arrays.asList(row1, row2));
    }

}
