package org.kie.pmml.compilation.commons;

import java.util.Collections;

import org.kie.pmml.api.enums.CLOSURE;

public class KiePMMLIntervalTemplate {


    private KiePMMLInterval getKiePMMLInterval() {
        KiePMMLInterval interval = new KiePMMLInterval(leftMargin, rightMargin, closure);
    }

}
