package org.kie.pmml.compiler.commons;

import java.util.Collections;

import org.kie.pmml.commons.model.expressions.*;

public class KiePMMLNormDiscreteTemplate {


    private KiePMMLNormDiscrete getKiePMMLNormDiscrete() {
        KiePMMLNormDiscrete normDiscrete = new KiePMMLNormDiscrete(name, Collections.emptyList(), value, mapMissingTo);
    }

}
