package org.kie.pmml.compilation.commons;

import java.util.Collections;


public class KiePMMLFieldColumnPairTemplate {


    private KiePMMLFieldColumnPair getKiePMMLFieldColumnPair() {
        KiePMMLFieldColumnPair fieldColumnPair = new KiePMMLFieldColumnPair(name, Collections.emptyList(), column);
    }

}
