package org.kie.pmml.compiler.commons;

import java.util.Collections;

import org.kie.pmml.commons.transformations.KiePMMLDerivedField;

public class KiePMMLDerivedFieldTemplate {


    private KiePMMLDerivedFieldTemplate getKiePMMLDerivedField() {
        KiePMMLDerivedField derivedField = KiePMMLDerivedField.builder(name,
                                                                          Collections.emptyList(),
                                                                          dataType,
                                                                          opType,
                                                                          kiePMMLExpression)
                                                                .withDisplayName(displayName)
                                                                .build();
    }

}
