package org.kie.pmml.compiler.commons;

import java.util.Arrays;
import java.util.Collections;

import org.kie.pmml.api.enums.OUTLIER_TREATMENT_METHOD;
import org.kie.pmml.commons.model.expressions.*;

public class KiePMMLNormContinuousTemplate {


    private KiePMMLNormContinuous getKiePMMLNormContinuous() {
        KiePMMLNormContinuous normContinuous = new KiePMMLNormContinuous(name, Collections.emptyList(), Arrays.asList(kiePMMLLinearNorm1, kiePMMLLinearNorm2), outlierTreatmentMethod, mapMissingTo);
    }

}
