package org.kie.pmml.compilation.commons;

import java.util.Arrays;
import java.util.Collections;

public class KiePMMLDiscretizeTemplate {


    private KiePMMLDiscretize getKiePMMLDiscretize() {
        KiePMMLDiscretize discretize = new KiePMMLDiscretize(name, Collections.emptyList(), Arrays.asList(kiePMMLDiscretizeBin1, kiePMMLDiscretizeBin2), mapMissingTo, defaultValue, dataType);
    }

}
