.styleToolBar > * {
  padding-right: 25px;
}
.scrollArea {
  max-height: 625px;
}
.dataList {
  min-height: 300px;
}

.spinner-center {
  text-align: center;
  margin-top: 5%;
}

.error-text{
  text-align: center;
  margin-top: 5%;
}