<?xml version="1.0" encoding="UTF-8"?>
<section version="5.0"
         xsi:schemaLocation="http://docbook.org/ns/docbook http://www.docbook.org/xml/5.0/xsd/docbook.xsd http://www.w3.org/1999/xlink http://www.docbook.org/xml/5.0/xsd/xlink.xsd"
         xml:base="../" xmlns="http://docbook.org/ns/docbook" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:ns="http://docbook.org/ns/docbook">
  <title>Events</title>
    <section>
      <title>Start event</title>
      
      <figure>
        <title>Start event</title>
        <mediaobject>
          <imageobject>
            <imagedata align="center" width="100%"
                       fileref="images/Chapter-5-CoreEngine/StartEvent.png" format="PNG" role="" />
          </imageobject>
        </mediaobject>
      </figure>

      <para>The start of the process.
        A process should have exactly one start node (none start node which does not have event definitions),
        which cannot have incoming connections and should have one outgoing connection.  Whenever a
        process is started, execution will start at this node and 
        automatically continue to the first node linked to this start event, and
        so on. It contains the following properties:</para>

        <itemizedlist>
          <listitem>
            <para><emphasis>Id</emphasis>: The id of the node (which is unique
            within one node container).</para>
          </listitem>
          <listitem>
            <para><emphasis>Name</emphasis>: The display name of the node.</para>
          </listitem>
        </itemizedlist>
    </section>
    
    <section>
      <title>End events</title>
      
    <section>
      <title>End event</title>
      
      <figure>
        <title>End event</title>
        <mediaobject>
          <imageobject>
            <imagedata align="center" width="100%"
                       fileref="images/Chapter-5-CoreEngine/EndEvent.png" format="PNG" role="" />
          </imageobject>
        </mediaobject>
      </figure>

        <para>The end of the process.  A process
        should have one or more end events.  The End Event should have one incoming
        connection and cannot have any outgoing connections.  It contains the following
        properties:</para>
        <itemizedlist>
          <listitem> 
            <para><emphasis>Id</emphasis>: The id of the node (which is unique within
            one node container).</para>
          </listitem>
          <listitem>
            <para><emphasis>Name</emphasis>: The display name of the node.</para>
          </listitem>
          <listitem>
            <para><emphasis>Terminate</emphasis>: An End Event can terminate
            the entire process or just the path. When a process instance is
            terminated, it means its state is set to completed and all other nodes 
            that might still be active (on parallel paths) in this
            process instance are canceled. Non-terminating end events are simply end
            for this path (execution of this branch will end here), but other parallel
            paths can still continue.  A process instance will automatically complete
            if there are no more active paths inside that process instance (for example,
            if a process instance reaches a non-terminating end node but there are no
            more active branches inside the process instance, the process instance
            will be completed anyway).  Terminating end events are
            visualized using a full circle inside the event node, non-terminating event
            nodes are empty.  Note that, if you use a terminating event node inside a sub-process,
            you are terminating just that sub-process and top level continues.</para>
          </listitem>
        </itemizedlist>
    </section>
    
    <section>
      <title>Throwing error event</title>
      
      <figure>
        <title>Throwing error event</title>
        <mediaobject>
          <imageobject>
            <imagedata align="center" width="100%"
                       fileref="images/Chapter-5-CoreEngine/ErrorEndEvent.png" format="PNG" role="" />
          </imageobject>
        </mediaobject>
      </figure>

        <para>An Error Event can be used
        to signal an exceptional condition in the process.  It should
        have one incoming connection and no outgoing connections.  When an Error Event
        is reached in the process, it will throw an error with the given name.
        The process will search for an appropriate error handler that is
        capable of handling this kind of fault.  If no error handler is found,
        the process instance will be aborted.  An Error Event contains the following
        properties:</para>
        <itemizedlist>
          <listitem>
            <para><emphasis>Id</emphasis>: The id of the node (which is unique
            within one node container).</para>
          </listitem>
          <listitem>
            <para><emphasis>Name</emphasis>: The display name of the node.</para>
          </listitem>
          <listitem>
            <para><emphasis>FaultName</emphasis>: The name of the fault.  This
            name is used to search for appropriate exception handlers that are
            capable of handling this kind of fault.</para>
          </listitem>
          <listitem>
            <para><emphasis>FaultVariable</emphasis>: The name of the variable
            that contains the data associated with this fault.  This data is also
            passed on to the exception handler (if one is found).</para>
          </listitem>
        </itemizedlist>
        
        <para>Error handlers can be specified using boundary events.</para>
    
    </section>
    
    </section>
    
    <section>
      <title>Intermediate events</title>
      
    <section>
      <title>Catching timer event</title>
      
      <figure>
        <title>Catching timer event</title>
        <mediaobject>
          <imageobject>
            <imagedata align="center" width="100%"
                       fileref="images/Chapter-5-CoreEngine/IntermediateTimerEvent.png" format="PNG" role="" />
          </imageobject>
        </mediaobject>
      </figure>

        <para>Represents a timer that can
        trigger one or multiple times after a given period of time.  A Timer Event
        should have one incoming connection and one outgoing connection.  The timer
        delay specifies how long the timer should wait before
        triggering the first time.  When a Timer Event is reached in the process, it will
        start the associated timer.  The timer is canceled if the timer node is
        canceled (e.g., by completing or aborting the enclosing process instance). Consult the
        section <quote><link linkend='sec.timers' endterm="sec.timers.title"/></quote>
        for more information. The Timer Event contains the
        following properties:</para>
        <itemizedlist>
          <listitem>
            <para><emphasis>Id</emphasis>: The id of the node (which is unique
            within one node container).</para>
          </listitem>
          <listitem>
            <para><emphasis>Name</emphasis>: The display name of the node.</para>
          </listitem>
          <listitem>
            <para><emphasis>Timer delay</emphasis>: The delay that the node should wait before
            triggering the first time. The expression should be of the form
              <code>[#d][#h][#m][#s][#[ms]]</code>. This allows you to specify the number of days,
            hours, minutes, seconds and milliseconds (which is the default if you don't specify
            anything). For example, the expression "1h" will wait one hour before triggering the
            timer. The expression could also use #{expr} to dynamically derive the delay based on
            some process variable. Expr in this case could be a process variable, or a more complex
            expression based on a process variable (e.g. myVariable.getValue()). It does support
            CRON like expression as well.</para>
          </listitem>
          <listitem>
            <para><emphasis>Timer period</emphasis>: The period
            between two subsequent triggers.  If the period is 0, the timer should
            only be triggered once.   The expression should be of the form
            <code>[#d][#h][#m][#s][#[ms]]</code>. You can specify the number of days,
            hours, minutes, seconds and milliseconds (which is the default if you don't
            specify anything).  For example, the expression "1h" will wait one hour
            before triggering the timer again.  The expression could also use #{expr} to
            dynamically derive the period based on some process variable.  Expr in this
            case could be a process variable, or a more complex expression based on a
            process variable (e.g. myVariable.getValue()).</para>
          </listitem>
        </itemizedlist>
        
        <para>Timer events could also be specified as boundary events on sub-processes and tasks
          that are not automatic tasks like script task that have no wait state as timer will
          not have a change to fire before task completion.</para>
        
    </section>
    
    <section>
      <title>Catching signal event</title>
      
      <figure>
        <title>Catching signal event</title>
        <mediaobject>
          <imageobject>
            <imagedata align="center" width="100%"
                       fileref="images/Chapter-5-CoreEngine/IntermediateSignalEvent.png" format="PNG" role="" />
          </imageobject>
        </mediaobject>
      </figure>

        <para>A Signal Event can be used
        to respond to internal or external events during the execution of the process.
        A Signal Event should have one incoming connections and one outgoing
        connection.  It specifies the type of event that is expected.  Whenever
        that type of event is detected, the node connected to this event node will
        be triggered.  It contains the following properties:</para>
        <itemizedlist>
          <listitem>
            <para><emphasis>Id</emphasis>: The id of the node (which is unique
            within one node container).</para>
          </listitem>
          <listitem>
            <para><emphasis>Name</emphasis>: The display name of the node.</para>
          </listitem>
          <listitem>
            <para><emphasis>EventType</emphasis>: The type of event that is 
            expected.</para>
          </listitem>
          <listitem>
            <para><emphasis>VariableName</emphasis>: The name of the variable that
            will contain the data associated with this event (if any) when this
            event occurs.</para>
          </listitem>
        </itemizedlist>
        
        <para>A process instance can be signaled that a specific event occurred
        using</para>
        <programlisting language="java">ksession.signalEvent(eventType, data, processInstanceId)</programlisting>
        <para>This will trigger all (active) signal event nodes in the given process
        instance that are waiting for that event type.  Data related to the event
        can be passed using the data parameter.  If the event node specifies a
        variable name, this data will be copied to that variable when the event
        occurs.</para>
        
        <para>It is also possible to use event nodes inside sub-processes.  These
        event nodes will however only be active when the sub-process is active.</para>
        
        <para>You can also generate a signal from inside a process instance.  A script
        (in a script task or using on entry or on exit actions) can use</para>
        <programlisting>
kcontext.getKieRuntime().signalEvent(eventType, data, kcontext.getProcessInstance().getId());
        </programlisting>

        <para>A throwing signal event could also be used to model the signaling of an
        event.</para>
        
    </section>
    
    </section>
       
</section>
