@charset "UTF-8";


.immediate {
    -moz-transition: left 0ms linear 0s;
    -webkit-transition: left 0ms linear 0s;
    -ms-transition: left 0ms linear 0s;
    transition: left 0ms linear 0s;
}

.smaller-p-text {
    font-size: 36px;
}

figure {
    margin: 10px 0;
}

figure > img {
    display: block;
    margin: 0 auto;
}

section > img {
    width: 100%;
    height: 100%;
}

figure > p {
    margin: 5px 0;
    text-align: center;
    font-size: 24px;
}

.leftColumn {
    float: left;
    width: 50%;
}
.rightColumn {
    float: right;
    width: 50%;
}
