package org.kie.pmml.compiler.commons;

import java.util.Collections;

import org.kie.pmml.models.scorecard.model.KiePMMLComplexPartialScore;

public class KiePMMLComplexPartialScoreTemplate {


    private KiePMMLComplexPartialScore getKiePMMLComplexPartialScore() {
        KiePMMLComplexPartialScore complexPartialScore = new KiePMMLComplexPartialScore(name, Collections.emptyList(), kiePMMLExpression);
    }

}
