package org.kie.pmml.models.tree.model;

import java.util.Collections;
import java.util.List;
import java.util.Map;
import java.util.Optional;
import java.util.function.Function;

import org.kie.pmml.commons.model.KiePMMLOutputField;
import org.kie.pmml.api.enums.PMML_MODEL;
import org.kie.pmml.models.tree.model.KiePMMLNode;



public class KiePMMLNodeTemplate extends KiePMMLNode {

    public KiePMMLNodeTemplate() {
        super(name, Collections.emptyList());
    }

    public static Object evaluateNode(final Map<String, Object> requestData) {
            final List<Function<Map<String, Object>, Object>> nodeFunctions = null;
            final Object score = null;
            final Function<Map<String, Object>, Boolean> predicateFunction = KiePMMLNodeTemplate::evaluatePredicate;
            if (!predicateFunction.apply(requestData)) {
                return null;
            }
            if (nodeFunctions.isEmpty()) {
                return score;
            }
            Optional<Object> nestedScore = KiePMMLNode.getNestedScore(nodeFunctions, requestData);
            return nestedScore.orElse(score);
    }

    private static boolean evaluatePredicate(java.util.Map<String, Object> stringObjectMap) {
         // Populated by code-gen
    }


}
