/* JBoss Drools Analytics Style Sheet */
/* Website: http://labs.jboss.com/jbossrules/ */

*
{
	border: 0;
	margin: 0;
	padding: 0;
}
h1
{
}

div
{
	padding:0px 0px 0px 20px;
}

ul,p,table
{
	padding:0px 0px 0px 20px;
	width:600px;
	background-color: #d2d7db;
	text-align: left;
	border-spacing: 0px;
	border: 1px solid #aeb3b6;
	border-collapse: collapse;
}
table
{
	width: 200px;
}

li
{
}