<rule>
  <name>whatever</name>
  <modelVersion>1.0</modelVersion>
  <attributes/>
  <metadataList/>
  <lhs>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>$ignoreItem</value>
            <operator>!=</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Food</factType>
            <fieldName>name</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>@{$lessThanCost} * 0.1234</value>
            <operator>&lt;</operator>
            <constraintValueType>3</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Food</factType>
            <fieldName>cost</fieldName>
            <fieldType>Double</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>Food</factType>
      <boundName>$food</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
  </lhs>
  <rhs>
    <setField>
      <fieldValues>
        <fieldValue>
          <field>cost</field>
          <value>$newCost</value>
          <nature>7</nature>
          <type>Double</type>
        </fieldValue>
      </fieldValues>
      <variable>$food</variable>
    </setField>
<!-- uncommenting this will add the vars also to rhs allowing the drl to be correctly generated
    <freeForm>
      <text>&quot;@{$lessThanCost}&quot;.isEmpty(); // workaround for template issue...
&quot;@{$newName}&quot;.isEmpty();</text>
    </freeForm>
-->
    <freeForm>
      <text>System.out.println(&quot;executed&quot;);</text>
    </freeForm>
  </rhs>
  <imports>
    <imports>
      <org.kie.soup.project.datamodel.imports.Import>
        <type>org.drools.testcoverage.common.model.Food</type>
      </org.kie.soup.project.datamodel.imports.Import>
    </imports>
  </imports>
  <packageName>org.drools.testcoverage.functional</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>$newName</string>
      <list>
        <string>expensive apple</string>
      </list>
    </entry>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list>
        <string>1</string>
      </list>
    </entry>
    <entry>
      <string>$newCost</string>
      <list>
        <string>100</string>
      </list>
    </entry>
    <entry>
      <string>$lessThanCost</string>
      <list>
        <string>123</string>
      </list>
    </entry>
    <entry>
      <string>$ignoreItem</string>
      <list>
        <string>Apple</string>
      </list>
    </entry>
  </table>
  <idCol>1</idCol>
  <rowsCount>1</rowsCount>
</rule>