import java.util.Arrays;
import java.util.List;

import org.kie.pmml.evaluator.assembler.rulemapping.PMMLRuleMapper;
import org.kie.pmml.evaluator.assembler.rulemapping.PMMLRuleMappers;

public class PMMLRuleMappersImpl implements PMMLRuleMappers {

    public final static List<PMMLRuleMapper> pmmlRuleMappers = null;

    @Override
    public List<PMMLRuleMapper> getPMMLRuleMappers() {
        return pmmlRuleMappers;
    }

}

