import org.drools.model.Model;

import org.kie.pmml.evaluator.assembler.rulemapping.PMMLRuleMapper;

public class PMMLRuleMapperImpl implements PMMLRuleMapper {

    public final static Model model = null;



    @Override
    public Model getModel() {
        return model;
    }

}

