grant {
      permission java.util.PropertyPermission "*","read";
      permission java.lang.RuntimePermission "createClassLoader";
      permission java.lang.RuntimePermission "accessDeclaredMembers";
};