<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r %d{dd/MM HH:mm:ss,SSS}[%t] %-5p %c{3}.%M %x - %m%n"/>
		</layout>
	</appender>

	<logger name="org.drools">
		<level value="DEBUG"/>
	</logger>
	
	<!-- logger name="org.hibernate">
		<level value="DEBUG"/>
	</logger -->
	<root>
		<priority value="INFO"/>
		<appender-ref ref="CONSOLE"/>
	</root>
</log4j:configuration>
