<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.jbpm.org/bpmn2/jbpmbpmn2extensionmodel"
            class="org.jbpm.bpmn2.jbpmbpmn2extensionmodel.Jbpmbpmn2extensionmodelPackage"
            genModel="src/main/resources/model/bpmn2extensionmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="jbpmbpmn2extensionmodel"
            class="org.jbpm.bpmn2.jbpmbpmn2extensionmodel.util.Jbpmbpmn2extensionmodelResourceFactoryImpl"/>
   </extension>

</plugin>
