#set ($width = ${language.getStyleParam("width", $item.width)})
#set ($height = ${language.getStyleParam("height", $item.height)})
#set ($style = $width + $height)

#set ($idParam = ${language.getParam("id", $item.id)})
#set ($nameParam = ${language.getParam("ref", $item.name)})
#set ($acceptParam = ${language.getParam("mediaType", $item.accept)})
#set ($styleParam = ${langauge.getParam("style", $style)})
<xforms:upload #if($nameParam)$nameParam#end
    #if($acceptParam)$acceptParam#end
    #if($idParam)$idParam#end
    #if($styleParam)$styleParam#end
    xmlns:xforms="http://www.w3.org/2002/01/xforms"
/>
