#set ($widthParam = ${language.getStyleParam("width", $item.width)})
#set ($heightParam = ${language.getStyleParam("height", $item.height)})
#set ($style = "$widthParam$heightParam")
#set ($styleParam = ${language.getParam("style", $style)})
#set ($classParam = ${language.getParam("class", $item.cssClassName)})
#set ($idParam = ${language.getParam("id", $item.id)})
## TODO table.getItemValidations();
## TODO table.getInput(); may be used to iterate contents, but not yet
<div #if($styleParam)$styleParam#end#if($classParam)$classParam#end#if($idParam)$idParam#end>
   #foreach ($subItem in $item.items)
      ${language.translateItem($subItem)}
   #end
</div>
