#set ($idParam = ${language.getParam("id", $item.id})
#set ($nameParam = ${language.getParam("ref", $item.name})
#set ($value = $item.value)
## TODO getInput();
<xforms:input
    type="hidden" 
    #if($input_maxlength)$input_maxlength#end
    #if($idParam)$idParam#end
    #if($nameParam)$nameParam#end
    xmlns:xforms="http://www.w3.org/2002/01/xforms">
  <xforms:caption xmlns:xforms="http://www.w3.org/2002/01/xforms">#if($value)$value#end</xforms:caption>
</xforms:input>

