#set ($classParam = ${language.getParam("class", $item.cssName)})
#set ($width = ${language.getStyleParam("width", $item.width)})
#set ($height = ${language.getStyleParam("height", $item.height)})
#set ($sytle = "$width$height")
#set ($styleParam = ${language.getParam("style", $style)})
##TODO getItemValidations
#set ($value = $item.value) 
#if (!($value and $value != "") and $item.input)
    #set ($value = $item.input.name)
#end 
<span #if($classParam)$classParam#end#if($styleParam)$styleParam#end>$value</span>
