#set ($input_id = ${langauge.getParam("id", $item.id)})
#set ($input_maxlength = ${langauge.getParam("maxlength", $item.maxLength)})
#set ($name = $item.name)
#if (!($name and $name != "") and $item.output)
    #set ($name = $item.output.name)
#end
#set ($input_name = ${language.getParam("ref", $name)})
#set ($value = $item.defaultValue)
#if (!($value and $value != "") and $item.input and $item.input.name != "")
    #set ($value = $item.input.value)
#end
## TODO textField.getItemValidations();
<xforms:secret #if($input_maxlength)$input_maxlength#end#if($input_id)$input_id#end#if($input_name)$input_name#end#if($input_value)$input_value#end xmlns:xforms="http://www.w3.org/2002/01/xforms">
  <xforms:caption xmlns:xforms="http://www.w3.org/2002/01/xforms">#if($value)$value#end</xforms:caption>
</xforms:secret>