#set ($width = ${language.getStyleParam("width", ($item.rows * 10) + "px")})
#set ($height = ${language.getStyleParam("height", ($item.cols * 12) + "px"})
#set ($style = $width$height)
#set ($styleParam = ${language.getParam("style", $style)})
#set ($idParam = ${language.getParam("id", $item.id)})
#set ($nameParam = ${language.getParam("ref", $item.name)})
<textarea #if($rowsParam)$rowsParam#end#if($colsParam)$colsParam#end>
    $item.value
</textarea>

<xforms:textarea #if($nameParam)$nameParam#end
    #if($idParam)$idParam#end
    #if($styleParam)$styleParam#end
    xmlns:xforms="http://www.w3.org/2002/01/xforms">
  <xforms:caption xmlns:xforms="http://www.w3.org/2002/01/xforms">$item.value</xforms:caption>
</xforms:textarea>
