/target
/local

# Allow users to easily import this module, even though it's a PITA for the rest of us.. :) 
!.classpath
!.project

# Eclipse, Netbeans and IntelliJ files
/.*
!.gitignore
/nbproject
/*.ipr
/*.iws
/*.iml
