.kogito-management-console--milestones__nameText > blockquote {
    padding: 0px;
    border-left: 0px;
}

.kogito-management-console--milestones__nameTextEllipses {
    display:inline-block;
    white-space: nowrap; 
    width: 20em;
    overflow: hidden;
    text-overflow: ellipsis; 
    position: relative;
    top: 5px;
    word-break: break-all;
}
@media only screen and (max-width: 1710px) {
    .kogito-management-console--milestones__nameTextEllipses {
        display:inline-block;
        white-space: nowrap; 
        width: 10em;
        overflow: hidden;
        text-overflow: ellipsis; 
        position: relative;
        top: 5px;
        word-break: break-all;
    }
}