.outcome-details {
  padding-bottom: var(--pf-global--spacer--xl);
  background-color: var(--pf-c-page__main-section--BackgroundColor);
  &__title {
    font-weight: 300;
  }
  &__section {
    &--outcome-selector {
      --pf-c-page__main-section--PaddingTop: 0;
      --pf-c-page__main-section--PaddingBottom: var(--pf-global--spacer--md);
      &__divider {
        margin-bottom: var(--pf-global--spacer--md);
      }
    }
  }
  &__input-help {
    fill: var(--pf-global--info-color--100);
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
  }
  &__outcome-not-successful {
    font-weight: 600;
    margin-right: 1em;
  }
}

.container {
  margin: 0 auto;
}

@media (min-width: 2300px) {
  .container {
    max-width: 2270px;
  }
}
